@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover (&:hover)

.card-title-bar {
  border-bottom-left-radius: 20px; 
  border-bottom-right-radius: 20px; 
    transition: all 0.3s ease;
}
.card-title-bar h3 {
  /* font-size: 1.2em; */
  color: white; 
  transition: all 0.3s ease;
}
.craft_card p{
  color: rgba(128, 128, 128, 0.767);
  transition: all 0.3s ease;
}
.craft_card:hover .card-title-bar{
  background-color: white ;
}
.craft_card:hover .card-title-bar h3{
  color: #EE4F31;
}
.craft_card:hover p{
  color: white !important;
}

/* to top  */
.to_top {
display: none;
}

